<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title id="title">Blinkenschild 2.0</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="viewport" content="user-scalable=no, width=device-width" />
		<meta name="apple-mobile-web-app-title" content="Blinkenschild 2.0" />
		<link rel="stylesheet" href="static/css/style.css"><!-- TODO -->
		<style type="text/css">
			#image.images-preview {
				display: flex;
				flex-wrap: wrap;
			}
		</style>
		<script src="static/js/jquery-3.3.1.min.js"></script>
                <script src="static/js/blinkenschild.js"></script>


	</head>
	<body ontouchstart="">
		<div id="viewport">
			<p>Blinkenschild 2.0</p>
			<p>Currently displaying: <pre>{{current_task}}</pre></p>

			
			<form id="youtube">
				<h2>YouTube</h2>
				<input type="url" name="yt_video" placeholder="https://www.youtube.com/watch?v=-gIgoTYyf-I">
				<input type="submit" id="play_youtube" value="Play">
			</form>

			
			<form id="pictures">
                                <input id="pic" type="hidden"  name="pic" value="" />

				<h2>Pics &amp; GIFs</h2>
				<input type="file" name="pictureUploader" id="pictureUploader" accept="image/*">
				<div class="pictures-preview">
				</div>
				<input type="submit" id="display_picture" value="Display">
		
				<ul  id="pics">
			 	</ul>
			</form>

			
			
			
			<form id="text">
				<h2>Text</h2>
				<input type="text" name="text">
				<input type="color" name="color">
				<input type="submit" value="Write">
			</form>

			<form id="twitter">
				<input id="tweet" type="hidden"  name="tweet" value="" />
				<h2>Twitter</h2>
				<ul id="tweets">
	                        </ul>				
			</form>



		</div>
	</body>
</html>
